<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName "vagrant.dev"
  DocumentRoot {{ document_root }}/public_html

  <Directory {{ document_root }}/public_html>
    SetEnv APPLICATION_ENV {{APPLICATION_ENV}}
    Options +MultiViews +Indexes
    Require all granted
    AllowOverride All
    DirectoryIndex index.php
    AddType application/x-httpd-php .php
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>